body {
    font-family: 'Noto Sans', sans-serif;
      background-image: url('https://wallpaperplay.com/walls/full/2/5/1/14019.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;  
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #848080;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #449DD1;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}  

/* Refers to the textbox inputs */
input {
    border: 2px solid #449DD1;
    min-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Refers to the table, which holds email address/password input */
#details {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

/* Refers to div that holds the create_login buttons */
#submit {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

/* Refers to the actual buttons themselves */
button {
  border: 2px solid #449DD1;
  min-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}