body {
    font-family: 'Noto Sans', sans-serif;
}

/* Refers to the textbox inputs */
input {
    border: 2px solid #449DD1;
    min-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Refers to the table, which holds email address/password input */
#details {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

/* Refers to div that holds the buttons */
#submit {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

/* Refers to the actual buttons themselves */
button {
  border: 2px solid #449DD1;
  min-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}